 /*footer*/
 /*author- omkar suryawanshi and techtastic team with black theam */
 .footer {
     margin-top: 0px;
     background-color: #24262baf;
     padding: 70px 0;
     line-height: 1.5;
     font-family: 'poppins' sans-serif;
 }

 @media (max-width: 768px) {
     .footer {
         margin-top: 950px;
     }
 }

 .fc {
     max-width: 1170px;
     margin: auto;
 }

 .ul {
     list-style: none;
 }

 .row {
     display: flex;
     flex-wrap: wrap;
 }

 .col {
     width: 25%;
     padding: 0 15px;
 }

 .col h4 {
     font-size: 18px;
     color: #ffffff;
     text-transform: capitalize;
     margin-bottom: 35px;
     font-weight: 500;
     position: relative;

 }

 .col h4::before {
     content: '';
     position: absolute;
     left: 0;
     bottom: -10px;
     background-color: #e91e63;
     height: 2px;
     box-sizing: border-box;
     width: 50px;
 }

 .col ul li:not(:last-child) {
     margin-bottom: 10px;
 }

 .col ul li a {
     font-size: 16px;
     text-transform: capitalize;
     color: #ffffff;
     text-decoration: none;
     font-weight: 300;
     color: #bbbbbb;
     display: block;
     transition: all 0.3s ease;
 }

 .col ul li a:hover {
     color: #ffffff;
     padding-left: 10px;
 }

 @media (max-width: 768px) {
     .col {
         width: 50%;
         margin-bottom: 30px;
     }
 }

 @media (max-width: 574px) {
     .col {
         width: 100%;
     }
 }

 .sol {
     font-size: 16px;
     text-transform: capitalize;
     color: #ffffff;
     text-decoration: none;
     font-weight: 300;
     color: #bbbbbb;
     display: block;
     transition: all 0.3s ease;
 }